body {
  padding: 5vw;
}

.visually-hidden {
  background: white;
}

header[role=banner],
main,
footer[role=contentinfo] {
  max-width: 48rem;
  margin: 0 auto;
}

header[role=banner] {
  height: 1rem;
  line-height: 1;
}

header p {
  float: left;
}

nav ul {
  float: right;
  list-style: none;
}

nav li {
  margin-left: 1rem;
  float: left;
}

a[aria-current=page] {
  font-style: italic;
  text-decoration: none;
}

a[aria-current=page]:hover {
  text-decoration: underline;
}

main {
  min-height: calc(100vh - 20vw - 2rem);
  margin-top: 5vw;
  margin-bottom: 5vw;
}

main > * + *,
article > * + *,
section > * + * {
  margin: 1rem 0;
}

article {
  margin: 5vw 0;
}

section {
  margin: 2.5vw 0;
}

footer[role=contentinfo] {
  font-size: smaller;
  line-height: 1rem;
}

blockquote footer {
  margin: 1rem 0 0 1rem;
}